.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 110px;
}

.layout-menu {
    width: 20%;
    display: flex;
    justify-content: center;
    z-index: 0;
}

.layout-content {
    width: 60%;

}

.layout-slider {
    width: 20%;

}

.main-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 2;
}